<!DOCTYPE html>
<html lang="ja"><% global = jsonData; %>
<head>
<title><%= global.meta.title %></title>
<%- include _common/include %>
<%- include _common/meta %>
<%- include _common/css %>
</head>
<body>

<!-- wrap -->
<div id="wrap">

<%- include _common/header %>

<!-- contents -->
<article class="contents" id="top">
<div class="inner">

<p>Hello World.</p>

<p class='sample-font-awesome'></p>
<p class='sample-black-tie'></p>
<p class='sample-ionicons'></p>
<p class='sample-simple-line-font'></p>

</div>
</article>
<!-- //contents -->

<%- include _common/footer %>

</div>
<!-- //wrap -->

<%- include _common/js %>
</body>
</html>
