<!DOCTYPE html>
<html lang="ja"><% global = jsonData; %>
<head>
<title><%= global.meta.title %></title>
<%- include _common/include %>
<%- include _common/meta %>
<%- include _common/css %>
</head>
<body>

<!-- wrap -->
<div id="wrap">

<%- include _common/header %>

<!-- contents -->
<article class="contents" id="sample">
<div class="inner">

<section class="cont">
<h1>gulp-template</h1>
<p>Hello World.</p>
</section>

<section class="cont iconfont">
<div><h3>sample-font-awesome</h3><p class='sample-font-awesome'></p></div>
<div><h3>sample-black-tie</h3><p class='sample-black-tie'></p></div>
<div><h3>sample-ionicons</h3><p class='sample-ionicons'></p></div>
<div><h3>sample-simple-line-font</h3><p class='sample-simple-line-font'></p></div>
</section>

</div>
</article>
<!-- //contents -->

<%- include _common/footer %>

</div>
<!-- //wrap -->

<%- include _common/js %>
</body>
</html>
